$primary-color: #e8663c;
$secondary-color: #f3b29d;

$primary-text-color: #414141;
$secondary-text-color: #b9b9b9;
$footer-text-color: #fff;

$main-content-max-width: 940px;
$tablet-min-width: 768px;


